@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/noto-sans-sc";
@import "@fontsource-variable/noto-sans-devanagari";
@import "@fontsource-variable/noto-sans-arabic";

@theme static {
  --font-sans: 'Geist Variable', 'Noto Sans SC Variable', 'Noto Sans Devanagari Variable', 'Noto Sans Arabic Variable', sans-serif;
}

@layer base {
  html {
    font-synthesis: none;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
  }
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
}
